.Header {
  height: 70px;
  background: linear-gradient(135deg, #ff9ec6, #ffb7e1);
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 20px;
  gap: 50px;
  box-shadow: 0 2px 10px rgba(255, 158, 198, 0.2);
  position: relative;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: white;
  
  &:active,
  &:hover,
  &:visited {
    text-decoration: none !important;
    color: white;
  }
}